src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="cin7-sys-api-config" api="resource::5171e7e0-1d56-46fe-8c83-c71abc945e2a:cin7-sys-api:1.0.8:raml:zip:cin7-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="53bf0fab-abe6-4976-aa40-4da1ceecd682">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <flow name="cin7-sys-api-main">
        <http:listener config-ref="http_listener_config1" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="cin7-sys-api-config" />
        <error-handler ref="global-error-Handler" />
    </flow>
    <flow name="post:\contacts:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="c0005605-9f96-46f0-8d33-a8e8567a9532" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-contact-create.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="a25e34a0-f883-4aca-ab2b-0e9c7d3bf824" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="ba8543f9-e25e-4428-a9d0-5cab50db7563" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\customers:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="11360aee-878e-453f-b9e1-a8fdfa44b188" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-customer-create.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="51130670-57f4-40bf-932f-476d6d39ec78" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="5528bf5e-b5f6-40c9-a8df-8e33f9c4881a" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\products:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="3a25c154-e1a7-4dfa-ada2-49d4ca839760" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Exit" doc:id="6c7cc1b3-4505-4e58-9867-c97ed2aa1dd9" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="put:\contacts:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="35862eda-4fa0-46c9-aa10-8da9356d4dda" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-contact-update.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="9aeac8e1-6142-4590-a910-0a993d15cae5" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="d94b9d4b-6c1e-4aa0-997c-bdb5f1c5e093" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="put:\customers:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="1a954186-8f74-4fed-bebc-3e37fc7d5c6d" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-customer-update.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="3b7cee3b-3507-44bb-b52b-324823d094e4" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="933c2ad3-0284-46fa-9ae9-9a7da5cf841b" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="get:\locations:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="ca42ead0-6c04-4372-9b8e-e4964a4c22c8" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request" doc:id="db6265d1-5c0b-4116-be50-b8f4da964f32">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-location-get.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="db605e25-5235-41c4-aa39-a078ef22fa4d" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="5c82279e-40ab-47f0-8118-df1200984957" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="put:\addresses:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="7b2b0191-a9e0-434b-af6f-7e4f26a87afc" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-address-update.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="0f2d99ee-5ea7-49e0-9bc0-31d6b7660d88" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="be3e3500-5c19-4235-8e71-1733aafecf9b" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\addresses:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="dd5298f8-1fb7-4c65-b837-a360bf9fa232" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-address-create.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="6f4d1b04-3e87-448d-bc06-cc6475b267ac" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="53a1017e-0fa5-416e-810b-0cecb0c51af4" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="get:\sales:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="db390017-6a3d-4dab-bf3b-5b33e8966c6e" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-sales-get.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="65f09ea1-679b-42fe-9dc3-00fc7e084cb7" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="065c523f-a1ea-47ac-a149-032313d9c412" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\sales:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="067102de-89c8-4f70-948f-b2780c7a1f71" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request" doc:id="15d5f083-65ba-4c8e-9780-a7ac10f2be03">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"type": "httpRequest",
	"httpRequest": {
		"protocol": Mule::p('endSystem.CIN7.protocol') as String,
		"method": "POST",
		"host": Mule::p('endSystem.CIN7.host') as String,
		"url": Mule::p('operation.CREATE-SALES.path') as String,
		"queryParams": {
		},
		"uriParams": {
		},
		"headers": {
			"Content-Type": "application/json",
			"api-auth-accountid": Mule::p('secure::cin7.id'),
  			"api-auth-applicationkey": Mule::p('secure::cin7.key')
		},
	},
	"operation": "CREATE-SALES",
	//"dwl": Mule::p("operation.UPDATE-CUSTOMER.dwl") as String,
	"requestBody": payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="5f4edd37-309b-4f3a-ada4-c1a3c0332b84" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="dd3375c3-776c-4da8-b457-d0e1183e02db" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="post:\order:application\json:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="2792f43e-2ed0-47d2-8eb3-31020f7888f9" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request" doc:id="2328166c-0b72-4c6a-a761-f4651b0206a7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"type": "httpRequest",
	"httpRequest": {
		"protocol": Mule::p('endSystem.CIN7.protocol') as String,
		"method": "POST",
		"host": Mule::p('endSystem.CIN7.host') as String,
		"url": Mule::p('operation.CREATE-ORDER.path') as String,
		"queryParams": {
		},
		"uriParams": {
		},
		"headers": {
			"Content-Type": "application/json",
			"api-auth-accountid": Mule::p('secure::cin7.id'),
  			"api-auth-applicationkey": Mule::p('secure::cin7.key')
		},
	},
	"operation": "CREATE-ORDER",
	//"dwl": Mule::p("operation.UPDATE-CUSTOMER.dwl") as String,
	"requestBody": payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="ff236311-bcb1-42c4-9173-3bbe21592fd9" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="0f1f8747-7688-44ab-a57a-192a6a1a3a6f" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="get:\customers:cin7-sys-api-config">
        <logger level="INFO" doc:name="Log Start" doc:id="369b7043-5927-4fb9-99c7-8c3530242de0" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;ENTRY&quot;,&#xA;  MetaData: &quot;Started Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
        <ee:transform doc:name="Create Request">
            <ee:message>
                <ee:set-payload resource="dwls/msg-req-parameter-customer-get.dwl" />
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="cin7-sys-api-implementation" doc:id="3a6d6d9c-395d-4811-be15-e180a632d051" name="cin7-sys-api-implementation" />
        <logger level="INFO" doc:name="Log Exit" doc:id="2ac2ebe8-40ba-4180-8868-56151ddc4980" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;  flowName: flow.name,&#xA;  apiName: app.name,&#xA;  Name: &quot;EXIT&quot;,&#xA;  MetaData: &quot;Ended Flow in cin7-sys-api&quot;,&#xA;  correlationId: correlationId&#xA;}]" />
    </flow>
    <flow name="get:\tax:cin7-sys-api-config">
		<logger level="INFO" doc:name="Log Start" doc:id="778445d0-752d-4a35-8fd4-b93a9582cc7e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "ENTRY",&#10;  MetaData: "Started Flow in cin7-sys-api",&#10;  correlationId: correlationId&#10;}]' />
		<ee:transform doc:name="Create Request">
            <ee:message>
				<ee:set-payload resource="dwls/msg-req-parameter-tax-get.dwl" />
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="cin7-sys-api-implementation" doc:id="aad45f3c-23cc-41e3-8843-93d46a612726" name="cin7-sys-api-implementation" />
		<logger level="INFO" doc:name="Log Exit" doc:id="9d238ee9-664e-459b-a1e1-596920f112ef" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "EXIT",&#10;  MetaData: "Ended Flow in cin7-sys-api",&#10;  correlationId: correlationId&#10;}]' />
    </flow>
</mule>
